body{
    background-image: url('../assets/back.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }
  

  ::-webkit-scrollbar {
    display: none;
}

