body{
    height: 100vh;
    background: #ffffff;
    background-image: url("https://w0.peakpx.com/wallpaper/915/656/HD-wallpaper-blur-abstract-abstract-blur.jpg");
    background-size: cover;
}
.mid_text{
    color: aliceblue;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    width: 900px;
}
.nn:hover{
    color: black;
}
.nnav{
    background-color: #e61dfc;
}
.hh{
    font-weight: bold;
    color: #ffffff;
}
.hh:hover{
    font-size: large;
    background-color: black;
    transition: 2s;
}

.ww{
    display: flex;
    align-items: center;
   justify-content: center;
}